hipe_compile = false
cluster_partition_handling = autoheal
default_user = guest
default_pass = JFXR_RABBITMQ_COOKIE
listeners.tcp.default = 5672
listeners.tcp = none
listeners.ssl.default = 5671
loopback_users.guest = false
ssl_options.verify               = verify_peer
ssl_options.fail_if_no_peer_cert = false
ssl_options.cacertfile           = /opt/xray/var/data/rabbitmq/certs/ca-cert.pem
ssl_options.certfile             = /opt/xray/var/data/rabbitmq/certs/server-cert.pem
ssl_options.keyfile              = /opt/xray/var/data/rabbitmq/certs/server-key.pem
management.listener.port  = 5672
management.ssl.port       = 5671
management.ssl.cacertfile = /opt/xray/var/data/rabbitmq/certs/ca-cert.pem
management.ssl.certfile   = /opt/xray/var/data/rabbitmq/certs/server-cert.pem
management.ssl.keyfile    = /opt/xray/var/data/rabbitmq/certs/server-key.pem
management.listener.ssl   = true